:root
{
  --main-color: white;
  --accent-color: lightblue;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

button, select
{
  border: 1px solid lightgray;
  border-radius: 4px;

  background-color: white;

  outline: none;

  transition: border 100ms, box-shadow 30ms;
}

button:hover, select:hover
{
  border: 1px solid var(--accent-color);
}

button:active
{
  box-shadow: 0 0 3px 1px var(--accent-color);
}

button
{
  padding: 0.5em;
}

.text
{
  font-family: 'sans-serif';
  font-size: 14px;
}

.bigText
{
  font-size: 18px;
}

.noblock
{
  /* Not affected by @blockout */
  z-index: 1;
}

#blockout
{
  position: fixed;

  /* The graph is positioned absolute. */
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.7);
}

#interactive
{
  display: flex;
  flex-direction: row;
}

#scoreboard
{
  display: flex;
  flex-direction: column;

  margin-left: 0.5em;
}

#main-graph-container
{
  width: 100%;
}

#main-graph
{
  position: absolute;
}

.kv
{
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.kv > dl
{
  display: flex;
  flex-direction: row;
}

.kv > dl > *
{
  align-self: center;
}

.kv > dl > dd
{
  display: flex;
  flex-direction: row;

  margin-left: auto;
  padding-left: 2em;
}