.popup
{
  --border-radius: 0.5em;

  position: fixed;

  display: flex;

  flex-direction: column;

  /* 
  @popup stretches across the entire screen so we can use flex to center @window 
  */
  width: 100%;
  height: 100%;
}

.popup .window
{
  margin: auto;
  min-width: 16em;
  
  background-color: var(--main-color);
  
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.popup .title
{
  /* border: 1px solid red; */
 
  display: flex;

  height: 1.5em;

  background-color: var(--accent-color);

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.popup .title > p
{
  margin: auto;
}

.popup .body
{
  /* border: 1px solid green; */

  margin-left: 0.25em;
  margin-right: 0.25em;
}

.popup .body p
{
  white-space: pre-line;
}

.popup .controls
{
  display: flex;
  margin-bottom: 0.25em;
}

.popup .controls *
{
  margin: auto;
}

.popup .controls #ok
{
  min-width: 4em;
}