@keyframes winner
{
  0%
  {
    border-color: white;
  }

  50%
  {
    border-color: gold;
  }

  100%
  {
    border-color: white;
  }
}

#scoreboard .arrow-right
{
  --size: 0.5em;

  width: 0;
  height: 0;

  margin-right: 0.5em;

  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-left: var(--size) solid lightgreen;
}

#scoreboard .text
{
  margin-top: auto;
  margin-bottom: auto;
}

#scoreboard .entry
{
  display: flex;
  flex-direction: row;

  margin: 0;

  padding-top: 0.3em;
  padding-bottom: 0.3em;

  height: 1em;
}

#scoreboard .entry:not(.active) .arrow-right
{
  visibility: hidden;
}

#scoreboard .entry.winner
{
  border-right: 5px solid;
  border-left: 5px solid;
  animation: 200ms infinite winner;
}

#scoreboard .name
{
  white-space: nowrap;
}

#scoreboard .score
{
  margin-left: auto;
  padding-left: 2em;
  padding-right: 0.5em;
}