.tab-selector
{
  display: flex;

  width: 100%;

  flex-direction: row;
}

.tab-selector > button
{
  flex-grow: 1;
  flex-basis: 1px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tab-selector > button:not(:first-child):not(:last-child)
{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-selector > button:not(:first-child):not(:hover)
{
  border-left-color:transparent;
}

.tab-selector > button:first-child
{
  border-bottom-right-radius: 0;
}

.tab-selector > button:last-child
{
  border-bottom-left-radius: 0;
}

.tab-selector > button.active
{
  background: linear-gradient(to bottom, lightgray, white 20% 80%, lightgray)
}